<style>
    body {
    margin-left: 500px;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;

}

    .npc {
    top: 180;
    left: 1250px;
    position: absolute;
}

    .header {
    background: rgb(88, 185, 88);
    font-weight: bold;
    padding: 1em 0.5em;
    font-size: 1em;
}

</style>

{% if session.user_id %}
<body>
<p>Hi {{ session.username }} and welcome to...</p>

<title>index</title>
<div class="header">
<h1>Continent of Mélamar</h1>
</div>
<h2>Regions known: {{ counter }}</h2>

{% for place in places %}
<h3><a href="/region/{{ place.id }}">{{ place.name }}</a></h3>
<p>
{{ place.describtion}}
</p>
{% endfor %}
{% if session.usertype == "admin" %}
<a href="/new">Add new area</a>
{% endif %}
</body>
<div class="npc">
<h4>List of npcs in game:</h4>
{% for npc in npcs %}
<a href="/npc/{{ npc.id }}"> {{ npc.name }}</a>
<br>
{% endfor %}
</div>
<br>
<a href="/logout">Log out</a>
{% else %}
<p>Login for some awesome roleplaying content</p>
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Log in">
</form>
If you don't yet have a username, create one <a href="/register">here.</a>
{% endif %}
