<style>
    body {
    margin-left: 500px;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
    .header {
    background: rgb(146, 33, 5);
    font-weight: bold;
    padding: 1em 0.5em;
    font-size: 1em;
    
}
</style>

<body>
<p>Some info about this npc:</p>
<div class="header"><h2>{{ npc.name }}</h2></div>

<p>{{ npc.describtion }}</p>
{% if session.usertype == "admin" %}
<a href="/edit_npc/{{ npc.id }}">Edit</a><br>
{% endif %}
<br>
<h3>Personal notes:</h3>
{% for n_n in notes %}
{{ n_n.note }}
<a href="/edit_npc_note/{{ n_n.id }}">Edit</a><br>
<a href="/confirm_delete_npc_note/{{ n_n.id }}">Delete</a><br>
{% endfor %}
<br>
<a href="/new_npc_note/{{ npc.id }}">Write a personal note about npc</a><br>
<br>
{% if session.usertype == "admin" %}
<a href="/confirm_delete_npc/{{ npc.id }}">Delete this npc</a><br>
{% endif %}
<br>
<a href="/">Back</a>
</body>